<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.alibaba.druid.pool.DruidDataSource" id="druidDataSource">
        <property name="driverClassName" value=""/>
        <property name="url" value=""/>
        <property name="username" value=""/>
        <property name="password" value=""/>
        <property name="maxActive" value="1000"/>
        <property name="minIdle" value="10"/>
        <property name="minEvictableIdleTimeMillis" value="3000"/>
        <property name="maxWait" value="50000"/>
    </bean>
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
        <property name="dataSource" ref="druidDataSource"/>
        <!--       存放mapper.xml文件
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        -->
        <property name="typeAliasesPackage" value="com.yamin.project.orm.entity"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.yamin.project.orm.mapper"/>
    </bean>

</beans>